# Mapbox (public token used by Expo client)
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=[Enter Here]
EXPO_PUBLIC_SUPABASE_URL=[Enter Here]
EXPO_PUBLIC_SUPABASE_ANON_KEY=[Enter Here]
# Supabase Postgres connection (used by FastAPI / psycopg2)
DATABASE_URL=postgresql://app_readonly.wzninhiuzeqecpitreiy:parking-pal_db%21@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
